{% extends 'layout.html' %}
{% block page_content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <div class="card">
            <div class="card-content text-center">
                <h1>THIS IS THE CHARACTER SHIT! whoops, I meant sheet</h1>
                <p class="h2">1d20 rolls, bitch!</p>
                {% for _ in range(0, 10) %}
                    <p class="h3">{{ dice.roll(20) }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}